* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    overflow: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/hero-background.png'); /* Replace with your image */
    background-size: cover; /* Cover entire viewport */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Send it behind all content */
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    height: calc(100vh - 100px);
}

.fullpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.5s ease;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: #000;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.navbar img {
    width: 200px;
}

.navbar .logo {
    margin-top: 12px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    font-weight: 600;
    color: #fff;
    padding: 0 8px;
    margin: 0 7px;
    transition: 0.3s;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: var(--primary-color)
}

/* Hero */

.hero { 
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Greetings */

.greetings {
    background-color: rgba(0, 0, 0, 0);
}

.greetings-content {
    padding-top: 50px;
}

.greetings-intro {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 30px 0;
}

/* About */

.about {
    background-color: rgba(0, 0, 0, 0);
    scroll-margin-top: 100px;
}

.about-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    text-align: center;
}

.languages {
    margin: 50px;
}

.cards-grid1 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 70px;
}

.cards-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 70px;
}

/* Contact */

section.contact {
    position: relative;
    height: 284px;
    padding: 50px 0;
    background-color: #000;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 5px 0 20px 0;
}

.connections {
    display: flex;
    gap: 50px;
}

.connections li a {
    color: #fff;
    padding: 0 8px;
    margin: 0 7px;
    transition: 0.3s
}

.contact-content a {
    color: white;
    margin: 30px 0 20px;
}

i {
    font-size: 30px;
}


/* Utility Classes */

.container {
    margin: 0px auto;
    padding: 0 50px;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0px 0 20px;
    color: black;
}


/* Use animation-fill-mode: forwards */

.typing-effect {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes blink {
    from { border-color: black }
    to { border-color: transparent }
}

/* Typing Animation 1 */

@keyframes typing1 {
    from { width: 0 }
    to { width: 7ch; }
}

.typed-out1 {
    border-right: 0.15em solid black;
    width: 0;
    animation: typing1 1s steps(20, end) forwards, blink .8s 2 forwards;
}

/* Typing Animation 2 */

@keyframes typing2 {
    from { width: 0 }
    to { width: 50ch }
}

.typed-out2 {
    border-right: 0.15em solid transparent;
    width: 0;
    animation: typing2 2s steps(50, end) 1.3s 1 forwards, blink .8s 1.3s 5 forwards;
}


/* Typing Animation 3 */

/* .typed-out3 {
    border-right: 0.15em solid transparent;
    width: fit-content;
    animation: blink .8s 5s 20 forwards;
    word-wrap: break-word;
} */